*, ::after, ::before {
	box-sizing: border-box;
}
html, body{
	font-family: "Bai Jamjuree", sans-serif;
	margin:0px;
	font-size:18.5px;
	color:black;
	overflow-x:hidden;
	font-weight: 300;
	scroll-behavior: smooth;
}
ul{
	margin:0px;
	padding:0px;
	list-style:none;
	font-weight: 300;
}
a{
	text-decoration:none;
	color:black;
	
}

h3 {
	display: flex;
	justify-content: end;
	font-size: 18.5px;
	font-weight: 100;
}


.container{
	padding-left:58px;
	padding-right:58px;
	
	
}



header{
	margin-top:43px;
}
.logo img{
	width: 82px;
}
.header-flex{
	gap: 12px;
    display: flex;
    justify-content: space-between;
	align-items: center;
	
}
.nav ul{
	display: flex;
    gap: 43px;
}
.prominent{
	border: 1px solid #185ca6;
    padding: 13px 25px 15px;
    border-radius: 54px;
	background-color:#185ca6;
	color:white;
	transition: background-color 0.5s;
}

.prominent:hover {

	background-color: white ;
	color:#185ca6;
	


}

.nav-hover{
	position: relative;
}

.nav-hover::after{
	content: "";
	position: absolute;
	height: 1px;
	left: 0;
	bottom: 0;
	width: 0;
	background: #185CA6;
	transition: width 0.2s;

}

.nav-hover:hover{
	color: #185CA6;
}
.nav-hover:hover::after {
	color: #185CA6;
	width: 100%;

}

.fot-hov{
	transition: color 0.2s;
}

.fot-hov:hover{
   color: #A4A4A4;
}



.heading-flex{
	display:flex;
	justify-content:space-between;
	gap:22px;
}
h1{
	font-size:64px;
	line-height: 110%;
    font-weight: 300;
}
h1 span{
	color:#185ca6;
	font-weight: 200;
}
h1, h2, h3, h4{
	margin:0px;
}

img{
	max-width:100%;
}

h2 span{
	font-weight: 200;
}

.inner-link{
	font-size:22.3px;
	border-bottom: 1px solid;
	display: inline-flex;
	gap: 12px;
	align-items: end;
	transition: opacity 0.2s;
}
.mt-53{
	margin-top: 53px;
}
.inner-link img{
	width: 24px;
	
}
.inner-link:hover{
	opacity: 0.4;
}
.inner-link-two{
    border-radius: 54px;
    border: 1px solid #d2d2d2;
    display: inline-block;
    text-align: center;
    padding: 14px 48px;
	transition: background-color 0.5s;
}

.inner-link-two:hover{
	color:white;
	background-color: #185CA6;
	border: 1px solid #185CA6;
}




.mt-40{
	margin-top: 40px;
}
.mt-20{
	margin-top: 20px;
}
.mt-30{
	margin-top: 30px;
	
}


.text-center{
	
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	


}

.box{
	display: flex;
	position: relative;
	overflow: hidden;
	width: 63px;
	height: 64px;
	
	


}

.box img{
	
	width: 100%;
	transition: all linear 0.3s;
}

img.hover-img{
	position: absolute;
	width: 63px;
	height: 64px;
	top: 0;
	left: 0;
	opacity: 0;
	
}

.box:hover img{
	opacity: 0;

}

.box:hover img.hover-img{
	opacity: 1;
}


.noover{
	overflow:hidden;
}
.full{
	width:100%;
}


.four-col{
	
	grid-template-columns: repeat(5, 1fr);
    display: grid;
    gap: 22px;
	
	

	
	

}
.boxone{
    background-color: #f8f8f8;
    border-radius: 19px;
	width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
		
}

.boxonee{
    background-color: #f8f8f8;
    border-radius: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
	width: 300px;
	height: 170px;
		
}

.scroller {
	display: flex;
	flex-grow: 1;
	min-width: 500px;
	


}


.scroller_inner{
	
	display: flex;
	gap: 1rem;
}

.scroller[data-animated=true]{

	overflow: hidden;
	-webkit-mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
	mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}

.scroller[data-animated=true] .scroller_inner  {
	width: max-content;
	flex-wrap: nowrap;
	animation: scroll var(--_animation-duartion, 70s) var(--_animation-direction, forwards)linear infinite;
}

@keyframes scroll {
	to{
		transform: translate(calc(-50% - 0.5rem));
	}
}

.text-right{
	text-align:right;
}
.heading-two{
	font-size:53px;
	line-height: 122%;
    font-weight: 300;	
	font-weight: 300;
}
.heading-two span{
	color:#185ca6;
}
.flex-heading{
	text-align: left;
    display: flex;
    justify-content: right;
}
.mt-100{
	margin-top: 100px;
}
.heading-three{
	font-size: 64px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 45px;
	
}
.three-col{
	grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 22px;
}
.single-num{
	position:relative;
	
}
.single-num a img{
	width:28.3px;
}
.single-num a{
	font-size: 25px;
	border: 1px solid #d2d2d2;
	border-radius: 54px;
	position: absolute;
	right: 48px;
	top: 32px;
	display: inline-flex;
	gap: 8px;
	align-items: end;
	padding: 11px 26px;
	background-color: white;
	transition: background-color 0.5s;
}
.single-num img{
	width:100%;
}

.single-num a:hover{
	background-color: #9CCA4D;
	border: 1px solid #9CCA4D;
	color: white;
	

}



.round{
	font-weight: 300;
    font-size: 28px;
    background-color: #185ca6;
    width: 500px;
    color: white;
    text-align: center;
    margin: 0px auto;
    width: 285px;
    height: 285px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 555px;
    margin-top: 125px;
	transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
	position: relative;
}

.round::before {
	content: '';
	position: absolute;
	inset: 0;
	margin: auto;
	width: 100px;
	height: 100px;
	border-radius: inherit;
	scale: 0;
	z-index: -1;
	background-color: white;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .round:hover::before {
	scale: 3;
  }

.round:hover {
	color: #185CA6;
	scale: 1.1;
	box-shadow: 0 0px 20px rgba(255, 251, 241, 0.4);
	border: 1px solid #185CA6;
  }

.two-col{
	grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 22px;
}
.mt-50{
	margin-top:100px
}
.countries{
	font-size: 73px;
}
.countries span{
	color:#185ca6;
}
.dvd{
	border-top: 2px solid #cfcfcf;
    width: 150px;
    height: 2px;
}
.grey-text{
	font-size: 24px;
    color: #0000004a;
    margin-top: 5px;
}
.fz-24{
	font-size:24px;
	font-weight: 300;
	line-height: 138.18%;
}
.ac{
	align-items:center;
}
.right-heading{
	justify-content: right;
    gap: 27px;
    margin-top: 220px;
}
.inline-labels{
	display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    border-bottom: 2px solid #cfcfcf;
    padding-bottom: 7px;
}
.inline-labels h3{
	font-size: 28px;
    font-weight: 300;
}
.inline-labels .inner-link{
	font-size: 26px;
    border-bottom: 0px;
}
.num{
	color:#0000004a;
	font-size: 24px;
}
.box-two{
	background-color: #f7f7f7;
	border-radius:40px;
	padding:22px 34px 22px 25px;
}
.box-two h2{
	font-size: 36px;
    text-align: right;
    font-weight: 300;
	margin-bottom: 17px;
}
.bottom-box{
	display: flex;
    align-items: center;
    justify-content: space-between;
}


.date{
	font-size: 48px;
    font-weight: 300;
    background: linear-gradient(180deg, rgba(42, 42, 42, 0.27) 8%, rgba(247, 247, 247, 0.27) 77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gap-59{
	gap: 59px;
}
.inner-big{
	display: inline-flex;
    margin-top: 250px;
    font-size: 96px;
    font-weight: 400;
    border-bottom: 3px solid #2c2c2c;
    line-height: 86px;
    align-items: end;
	gap: 16px;
	margin-bottom:100px;
	transition: color 0.1s;
	
}


.inner-big:hover{
    border-bottom: 3px solid #185CA6;
	color: #185CA6;
	
} 

.inner-big img{
	width: 75px;
}

footer{
	background-color: #f7f7f7;
	font-size:20px;
	border-radius: 40px 40px 0px 0px;
	padding-top:30px;
	padding-bottom:30px;
}
.footer-links{
	display: flex;
    gap: 60px;
}
.top-footer{
	display: flex;
    align-items: center;
    justify-content: space-between;
}
.right-top{
	display: flex;
    align-items: center;
    gap: 52px;
}
.right-top a{
	border: 1px solid #D2D2D2;
    background-color: white;
    padding: 16px 34px;
    border-radius: 67px;
    font-weight: 500;
	transition: background-color 0.5s;
	font-weight: 300;
}

.right-top a:hover{
    background-color: #185CA6;
	color: white;
   
}



.bottom-footer{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 18px;
}
.cp{
	color:#a6a5a5;
	font-weight: 300;
}
.social{
	display: flex;
    gap: 52px;
    font-weight: 300;
}
.social a{
	display:inline-flex;
	gap: 7px;
}
.social a:hover{
	opacity: 0.4;
}
.po{
	color: #a6a5a5;
    text-align: right;
    margin-top: 25px;
    font-weight: 300;
}
.po span{
	border-bottom: 1px solid #a6a5a5;
	
}

.po span a{
	color: #a6a5a5;
	
}
.po span a:hover{
	color: #185CA6;
}
.mob-icon{
	display:none;
}
.hide-desk{
	display:none
}

.swiper-wrapper {
	display: flex;
	
}
.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 19px;

	
	overflow: hidden;
}
.swiper-slide img {
	max-width: 100%;
	height: auto;
}
.brand-slider .swiper-slide{
    background-color: #f8f8f8;	
}
.pointer{
	cursor:pointer;
}
.end{
	align-items: end;
}

.dropdown{
	font-size:0px;
	position:relative;
}
.events-filters{
	display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    border-bottom: 1px solid #CFCFCF;
    padding-bottom: 7px;
	margin-bottom:23px;
}
.dropdown img{
	width: 60px;
}
.single-event{
	background-color: #F7F7F7;
	padding: 22px;
	border-radius: 51px;
	margin-bottom:40px !important;
	width: 836px;
	max-width: 100%;
}
.event-flex{
	display: flex;
    gap: 57px;
	align-items:center
}
.event-num{
	font-weight: 300;
	font-size: 220px;
	line-height: 275px;
	background: linear-gradient(0.35deg, #F2F2F2 32.95%, #B5B5B5 89.23%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}
.event-title{
	font-weight: 400;
	font-size: 46px;
	line-height: 58px;
	color: #2C2C2C;
}
.event-desc{
	font-weight: 300;
	font-size: 22px;
	line-height: 28px;
	color: #2C2C2C;
	margin-top: 15px;
}
.events-h1{
	font-weight: 300;
	font-size: 128px;
	line-height: 126px;
	margin-bottom: 40px;
}
.event-details{
	font-weight: 400;
	font-size: 25px;
	line-height: 31px;
	text-align: center;
	align-items: center;
	display: inline-flex;
	gap: 3px;
	color: #000000;
	background: #FFFFFF;
	border: 1px solid #D2D2D2;
	border-radius: 54px;
	padding: 6px 25px;
}

.event-details:hover{
	background-color: #9CCA4D;
	color: white;

}

.event-details img{
	width: 25px;
}
.center-margin{
	margin:0px auto;
}
.center-margin .event-meta{
	text-align:right;
}
.controls{
	display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    border-top: 1px solid #CFCFCF;
    padding-top: 23px;
}
.single-control{
	display: flex;
	align-items: center;
	gap: 24px;
	font-weight: 300;
	font-size: 28px;
	line-height: 35px;
	color: #2C2C2C;
}
.dropdown-list{
	background-color: #FAFAFA;
	box-shadow: -11px 11px 16.5px -4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	padding: 22px;
	width: 143px;
	position: absolute;
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	font-size: 22px;
	right: 3px;
	top: 66px;
	width: 235px;
	display:none;
	text-align: center;
}
.months-list{
	display: grid;
    gap: 9px;
}
.months-list div{
	border-bottom:1px solid #CFCFCF;
	padding-bottom:9px;
	cursor:pointer;
}
.active-month{
	color: #2C2C2C;
}
.active-month:hover{
	color: #9CCA4D;
}
.contact-flex{
	margin-top:100px;
}
.contact-flex .social{
	display:block;
}
.contact-flex .social a{
    display: inline-flex;
    align-items: end;
}
.contact-flex{
	display: flex;
    gap: 22px;
}
.contact-left{
	flex: 0 0 29%;
}
.contact-right{
	flex: 0 0 71%;
}
.contact-right{
	font-weight: 400;
	font-size: 32px;
	line-height: 49px;
}
.contact-slider{
	margin-top:200px;
	margin-bottom: 70px;
}
.contact-slider img{
	width:100%;
}
.sub{
	font-weight: 400;
	font-size: 40px;
	line-height: 144%;
	width:787px;
	margin: 0px auto;
    margin-top: 70px;
	max-width:100%;
}
.sub span{
	color:#185CA6;
	font-weight: 200;
}
.green-btn{
    font-weight: 300;
    font-size: 18.5px;
    line-height: 23px;
    text-align: center;
    background: #9CCA4D;
    border-radius: 54px;
    color: white;
    padding: 20px 30px;
    display: inline-block;
	margin-top:150px;
	margin-bottom:36px;
	transition: background-color 0.5s;
}

.green-btn:hover{
    
    text-align: center;
    background: #185CA6;
    color: white;
   
}


.single-nos{
	grid-template-columns: repeat(3, 1fr);
    display: grid;
	border-top: 1px solid #CFCFCF;
    gap: 51px;
	padding-top: 18px;
	padding-bottom: 60px;
}
.nos-num{
	font-weight: 300;
	font-size: 96px;
	line-height: 120px;
	background: linear-gradient(180deg, #ADADAD 0%, #FFFFFF 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}
.nos-first{
	display:flex;
	gap:12px
}
.nos-first span{
	font-weight: 400;
	font-size: 24px;
	line-height: 30px;
	padding-top:23px;
	color: #2C2C2C;
}
.single-nos p{
	margin:0px;
	font-weight: 400;
	font-size: 16px;
	line-height: 27px;
	color: rgba(0, 0, 0, 0.63);
}
.single-nos ul{
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 166.2%;
	color: rgba(0, 0, 0, 0.63);
	list-style:disc;
}
.prosub{
	margin-top:70px;
	text-align:right;
	border-bottom:1px solid #CFCFCF;
	padding-bottom:12px;
	font-weight: 300;
	font-size: 22px;
	line-height: 28px;
	color: #000000;
}

.prosub2 {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #a6a5a5;
	margin-top: 70px;

	
}
.prosub2 h2 {
	font-weight: 300;
	font-size: 22px;
}
.product-logos{
	grid-template-columns: repeat(4, 1fr);
    display: grid;
    gap: 22px;
	margin-top:25px;
	padding-bottom:25px;
}
.product-logos div{
	width: 316px;
	height: 168px;
	background-color: #F8F8F8;
	border-radius: 19px;
	display: flex;
    align-items: center;
    justify-content: center;
}

.product-logos div:hover{
	background-color: #185CA6;

}

.protext{
	display:flex;
	gap:22px;
	margin-top:250px;
	align-items:center;
}
.procircle{
	width: 274px;
	height: 274px;
	background-color: #185CA6;
	font-weight: 500;
	font-size: 20px;
	line-height: 25px;
	text-align: center;
	color: #FFFFFF;
	margin: 0px auto;
	border-radius: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.proleft{
	flex: 0 0 40%;
}
.proright h2{
	font-weight: 400;
	font-size: 70px;
	line-height: 110%;
	color: #2C2C2C;
	border-bottom: 1px solid #CFCFCF;
}
.proright h2 span{
	color:#185CA6;
}
.proright p{
	text-align:right;
	font-weight: 300;
	font-size: 24px;
	line-height: 39px;
	text-align: right;
	color: #000000;
}
.proright a{

	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 25px;
	text-align: center;
	color: #2C2C2C;
	border-bottom: 1px solid #2C2C2C;
	display: inline-flex;
    align-items: end;
    gap: 7px;
}
.proright a img{
	width:20px
}
.microscope{
	margin-bottom: 100px;
	padding-left: 28%;
}
.hb{
	padding-bottom: 27px;
    border-bottom: 1px solid #CFCFCF;
}
.text-box{
	font-weight: 400;
	font-size: 24px;
	line-height: 166.16%;
	color: #5E5E5E;
	width: 1000px;
    margin: 0px auto;
    margin-top: 63px;
	max-width:100%;
}
.text-box b{
	font-weight:600;
}
.text-box ul{
	list-style: disc;
	display:grid;
	gap:32px;
}
.policy h3{
	font-weight: 500;
	font-size: 40px;
	line-height: 66px;
	color: #000000;
	margin-top: 63px;
}
@media screen and (max-width: 800px) {
	.product-logos {
		grid-template-columns: repeat(2, 1fr);
	}
	.product-logos div {
		width: 100%;
		height: 144px;
	}
	.nav ul {
		display: flex;
		gap: 32px;
		flex-direction: column;
		margin-top: 55px;
	}
	.prominent{
		margin-top: 7px;
		display: inline-block;
	}
	.nav{
		background-color: white;
		width: 100%;
		position: fixed;
		left: 0px;
		padding: 20px;
		top: 0px;
		bottom: 0px;
		z-index:999999999;
	}
	.mob-m-header{
		display: flex !important;
		align-items: center;
		justify-content: space-between;
	}
	.container {
		padding-left: 28px;
		padding-right: 28px;
	}
	.boxone{
	    min-height: 165px; 
		
	}
	.mob-icon{
		display:block;
	}
	.nav{
		display:none;
	}
	.heading-flex{
		flex-direction: column;
	}
	h1 {
		font-size: 30px;
		
	}
	.inner-link-two{
		font-size: 16px;
		padding: 14px 34px;
	}
	.mob-css-one{
		text-align:right;
	}
	.inner-link{
		gap: 6px;
		font-size:16px;
	}
	.inner-link img {
		width: 16px;
	}
	.hide-mob{
		display:none;
	}
	.hide-desk{
		display:block
	}
	.flex-heading{
		justify-content:center;
	}
	.heading-two{
		font-size:24px;
	}
	.heading-three {
		font-size: 36px;
		gap: 27px;
	}
	.heading-three img{
		width: 35px;
	}
	.round{
		height: 172px;
		width: 172px;
		font-size: 16px;
	}
	.mob-center{
		justify-content:center;
		text-align:center;
	}
	.reverse{
		display: flex;
		flex-direction: column-reverse;
		margin-top: 50px;
	}
	.mob-center{
		text-align:center
	}
	p br{
		display:none;
	}
	.dvd{
		margin: 0px auto;
	}
	.mobcss1{
		margin-top: 7px;
		margin-bottom: 74px;
	}
	.right-heading{
		margin-top: 97px;
	}
	.inline-labels{
		justify-content:right;
		margin-top: 38px;
	}
	.inline-labels h3{
		font-size:14px;
	}
	.two-col {
		grid-template-columns: repeat(1, 1fr);
	}
	.box-two h2 {
		font-size: 24px;
	}
	.bottom-box img{
		width: 45px;
	}
	.inner-big{
		font-size: 40px;
		margin-top: 150px;
		line-height: 42px;
		gap: 3px;
	}
	.inner-big img{
		width: 36px;
	}
	.top-footer{
		flex-direction:column-reverse;
		align-items: unset;
	}
	.footer-links {
		display: flex;
		gap: 22px;
		margin-top: 36px;
		flex-direction: column;
	}
	.right-top{
		justify-content:space-between;
	}
	.bottom-footer {
		align-items: center;
		flex-direction: column-reverse;
		gap: 49px;
	}
	.right-top a{
		font-size: 16px;
		padding: 16px 22px;
	}
	.single-num{
		background-color: #f7f7f7;
		width: 100%;
		padding: 22px;
		border-radius: 22px;
		
		
	}
	.single-num a {
		font-size: 16px;
		right: 6px;
		top: 12px;
		padding: 6px 18px;
		gap: 2px;
		position: unset;
		
		
	}
	.single-num a img {
		width: 17.3px;
	}
	.product-slider .swiper-slide{
		    background-color: #f7f7f7;
			
			
	}
	.product-top{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.pro-title{
		font-weight: 300;
		font-size: 26px;
		line-height: 40px;
		margin-top: 10px;
	}
	.pbnum{
		font-weight: 300;
		font-size: 110px;
		line-height: 110px;
		background: linear-gradient(358.1deg, #F2F2F2 27.71%, #A4A4A4 88.2%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		margin-top: 0px;
	}
	.pnum{
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		color: #CDCDCD;


	}
	.bottom-pro{
		display: flex;
		align-items: baseline;
		justify-content: space-between;
	}
	.bottom-pro a{
		background-color:#9CCA4D;
		width: 41px;
		height: 40px;
		padding: 0px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.bottom-pro a:hover{
		background-color:#9CCA4D;
		width: 42px;
		height: 41px;
		padding: 0px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.bottom-pro a img{
		width: 27.3px;
	}
	.fz-24 {
		font-size: 16px;
	}
	footer{
		font-size: 16px;
	}
	.events-h1{
		font-weight: 300;
		font-size: 48px;
		line-height: 60px;
		margin-bottom: 20px;
	}
	.mbase{
		align-items: baseline;
	}
	.events-filters{
		font-size:16px;
	}
	.dropdown img {
		width: 43px;
	}
	.event-flex{
		flex-direction:column;
		gap:14px;
	}
	.event-title{
		font-weight: 400;
		font-size: 24px;
		line-height: 30px;
		text-align: right;
	}
	.event-desc{
		font-weight: 300;
		font-size: 16px;
		line-height: 20px;
		text-align: right;
	}
	.event-num{
		font-weight: 300;
		font-size: 128px;
		line-height: 160px;
		width: 100%;
	}
	.single-event{
		padding: 44px 33px;
	}
	.mm{
		margin-top: -80px;
	}
	.reverse-event{
		flex-direction:column-reverse;
	}
	.center-margin .event-num{
		text-align:right;
	}
	.events-big{
		font-size: 34px;
	}
	.contact-flex{
		flex-direction: column-reverse;
		gap:100px;
	}
	.contact-flex .social a{
		font-size:20px;
	}
	.contact-right{
		font-size: 20px;
		line-height: 130%;
		text-align: right;
		display: grid;
		gap: 12px;
	}
	.contact-slider {
		margin-top: 83px;
		margin-bottom: 70px;
	}
	.sub{
		text-align: right;
		font-size: 16px;
		line-height: 144%;
		margin-top: 37px;
	}
	.green-btn{
		margin-top: 37px;
		font-size:16px;
		margin-bottom: 82px;
	}
	.single-nos {
		grid-template-columns: repeat(1, 1fr);
	}
	.single-nos ul{
		margin-left: 26px;
	}
	.proleft{
		display:none;
	}
	.proright h2{
		font-size: 30px;
		line-height: 32px;
		text-align: right;
        padding-bottom: 23px;
	}
	.proright p{
		font-weight: 300;
		font-size: 16px;
		line-height: 24px;
		color: #000000;
		text-align:left;
	}
	.proright a{
		display:none;
	}
	.microscope {
		margin-bottom: 100px;
		padding-left: 0;
		margin-top: 60px;
		text-align: center;
	}
	.microscope img{
		width: 249px;
	}
	.text-box{
		font-size: 16px;
		line-height: 166.16%;
		color: #5E5E5E;
	}
	.text-box{
		margin-top:42px;
	}
	.policy h3{
		font-weight: 500;
		font-size: 24px;
		line-height: 159%;
		text-align: center;
		margin-top:42px;
	}
}
